<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}Study System{% endblock %}</title>
	<link href="app/static/output.css" rel="stylesheet">

</head>
<body>
	<header class="bg-gray-200 p-4">
		<h1 class="text-3xl text-blue-500">Study System</h1>
		<nav class="mt-4">
			<a href="/" class="mr-4 text-blue-500">Home</a>
			<a href="/admin" class="text-blue-500">Admin</a>
		</nav>
	</header>
	
	<main class="max-w-2xl mx-auto my-8">
		{% block content %}
		
		{% endblock %}
	</main>
</body>
</html>
