{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div style="min-height: 100vh; background-color: #f7fafc; display: flex; flex-direction: column; justify-content: center;">
    <div style="max-width: 28rem; width: 100%; margin: auto;">
        <h2 style="font-size: 1.875rem; font-weight: bold; text-align: center; color: #1a202c;">Cursos Disponibles</h2>
        <ul style="background-color: white; padding: 2rem; margin-top: 1.5rem; margin-bottom: 0; space-y: 1rem; border-radius: 0.5rem; box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);">
            {% for course in courses %}
            <li style="border-bottom: 1px solid #e2e8f0; padding: 0.5rem;">
                <span style="font-weight: bold; color: #718096;">{{ course.title }}</span> - {{ course.description }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
